.App {
  text-align: center;
}

.card {
  display: inline-table;
  margin: 3rem;
  width: 30%;
  height: auto;
  background-color: rgb(255, 191, 201);
  border: dashed 2px;
  border-color: red;
}

.image {
  margin: 1rem;
  width: 50%;
  height: auto;
}

button {
  margin: 1rem;
}

